<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mi Primer proyecto RoR</h1>
    <p class="lead text-muted">Este fue mi primer proyecto RoR, realmente me gusto la forma en que se estructuran las cosas, algunas ya tenia la noción gracias a que he usado Grails and Groovy, pero me agrado Rails on Ruby.</p>
    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>